.footer-section {
    background-color: #252B42;
    color: var(--text-color-light);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
}

.footer-section__column {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
}

.footer-section__column h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

.footer-section__column ul {
    padding: 0.5rem 0;
    display: grid;
    gap: 1rem;
}

.footer-section__column ul li {
    text-align: center;
    list-style: none;
    font-size: 1.4rem;
    font-weight: 400;
}

.footer-section__contact > .icons {
    width: 100%;
    max-width: 300px;
    display: grid;
    grid-template-columns: 45px 1fr;
    align-items: center;
}

.footer-section__contact .social-container {
    margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }

    .footer-section__column ul li {
        text-align: left;
    }

    .footer-section__contact {
        justify-self: last baseline;
        align-self: first baseline;
    }

    .footer-section__contact .social-container {
        justify-self: start;
    }
}