.hero__section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

.hero__section h1 {
    color: var(--text-color-light);
    line-height: 3.3rem;
}

.hero__section p {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 260px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 350;
    color: var(--text-color-light);
}

.hero__section button {
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem 4.5rem;
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .hero__section h1 {
        margin: 0 auto;
        font-weight: 900;
        font-size: 4rem;
        max-width: 600px;
        line-height: 4.5rem;
    }
    
    .hero__section p {
        max-width: 750px;
    }

    .hero__section button {
        margin-top: 3rem;
        padding: 1rem 4.5rem;
        font-size: 1.3rem;
    }
}